<style>
div.result-box {
    vertical-align: top;
    overflow:auto;
    max-height:20rem;
}
div.entry {
    padding-left: 1em;
    text-indent: -1em;
}
</style>

<template id='main-page-template'>
<div class='container'>
    <div class='lead'>
        <span tt='main_blurb'></span>
    </div>

    <div>
        <form @submit.prevent='on_submit' class='form'>
            <input type='text' v-model='language' tt_placeholder='language' style='width: 4rem' />.wikipedia.org,
            <input type='number' v-model='number_of_recent_changes' style='width: 5rem' /> <span tt='number_of_recent_changes'></span>
            <input type='submit' />
        </form>
    </div>

    <div v-if='loading>0'>
        <i tt='loading'></i>
    </div>
    <div v-else-if='loading==0 && number_of_results>0'>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th tt='page'></th>
                    <th tt='backlinks'></th>
                    <th tt='search_results'></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='(data,title) in pages'>
                    <td>
                        <div class='result-box'>
                            <a :href='get_wiki_page_url(title)' target='_blank' class='wikipedia'>{{title}}</a>
                        </div>
                    </td>
                    <td>
                        <div class='result-box'>
                            <div v-for='(bl_data,bl_page) in data.backlinks' class='entry'>
                                <a :href='get_wiki_page_url(bl_page,bl_data.is_redirect)' target='_blank' class='wikipedia'>{{bl_page}}</a>
                                <small v-if='bl_data.is_redirect'>
                                    [<span tt='is_redirect'></span>]
                                </small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class='result-box'>
                            <div v-for='(sr_data,sr_page) in data.search_results' v-if='typeof data.backlinks[sr_page]=="undefined"' class='entry'>
                                <a :href='get_wiki_page_url(sr_page,sr_data.is_redirect)' target='_blank' class='wikipedia'>{{sr_page}}</a>
                                <small v-if='sr_data.is_redirect'>
                                    [<span tt='is_redirect'></span>]
                                </small>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div v-else>
    </div>

</div>
</template>

<script>
'use strict';

let MainPage = Vue.extend ( {
    props : [ 'initial_language' , 'initial_number_of_recent_changes' ] ,
    data : function () { return {language:'',number_of_recent_changes:10,number_of_results:0,loading:0,pages:{}} } ,
    created : function () {
        if ( typeof this.initial_language != 'undefined' ) this.language = this.initial_language ;
        if ( typeof this.initial_number_of_recent_changes != 'undefined' ) this.number_of_recent_changes = this.initial_number_of_recent_changes*1 ;
        this.get_new_pages()
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
        get_wiki_page_url : function ( page_title , is_redirect = false ) {
            let url = "https://" + this.get_wiki_server() + "/wiki/" + page_title ;
            if ( is_redirect ) url += '?redirect=no' ;
            return url ;
        } ,
        get_wiki_api_callback_url : function () {
            return 'https://'+this.get_wiki_server()+'/w/api.php?callback=?' ;
        } ,
        get_wiki_server : function () {
            return this.language + '.wikipedia.org' ;
        } ,
        start_subtask : function () {
            this.loading++ ;
        } ,
        end_subtask : function () {
            this.loading-- ;
            if ( this.loading > 0 ) return ;
            //console.log(JSON.parse(JSON.stringify(this.pages)));
        } ,
        load_search : function ( page_title ) {
            let me = this ;
            me.start_subtask() ;
            let query = page_title.replace(/ \(.+$/,'') ;
            $.getJSON ( me.get_wiki_api_callback_url() , {
                action:'query',
                generator:'search',
                prop:'info',
                gsrsearch:'"'+query+'"',
                gsrnamespace:0,
                gsrlimit:500,
                format:'json'
            } , function ( d ) {
                if ( typeof d.query != 'undefined' ) {
                    $.each ( d.query.pages , function ( k , v ) {
                        if ( v.title == page_title ) return ;
                        let o = { is_redirect : (typeof v.redirect!=='undefined') } ;
                        me.pages[page_title].search_results[v.title] = o ;
                    } ) ;
                }
                me.end_subtask();
            } ) ;
        } ,
        load_backlinks : function ( page_title ) {
            let me = this ;
            me.start_subtask() ;
            $.getJSON ( me.get_wiki_api_callback_url() , {
                action:'query',
                generator:'backlinks',
                prop:'info',
                gbltitle:page_title,
                gblnamespace:0,
                gbllimit:500,
                format:'json'
            } , function ( d ) {
                if ( typeof d.query != 'undefined' ) {
                    $.each ( d.query.pages , function ( page_id , v ) {
                        if ( v.title == page_title ) return ;
                        let o = { is_redirect : (typeof v.redirect!=='undefined') } ;
                        me.pages[page_title].backlinks[v.title] = o ;
                    } ) ;
                }
                me.end_subtask()
            } ) ;
        } ,
        set_own_path : function () {
            let path = '/' + this.language ;
            if ( this.number_of_recent_changes != 10 ) path += '/' + this.number_of_recent_changes ;
            this.$router.replace ( path );
        } ,
        on_submit : function ( e ) {
            e.preventDefault();
            this.set_own_path();
        } ,
        get_new_pages: function () {
            let me = this ;
            me.pages = {} ;
            me.loading = 0 ;
            me.number_of_results = 0 ;
            if ( me.language == '' ) return ;
            me.start_subtask() ;
            $.getJSON ( me.get_wiki_api_callback_url() , {
                action:'query',
                list:'recentchanges',
                rcnamespace:0,
                rclimit:me.number_of_recent_changes*1,
                rcprop:'title|redirect',
                format:'json',
                rctype:'new'
            } , function (d) {
                let pages = {} ;
                $.each ( d.query.recentchanges , function ( k , v ) {
                    if ( typeof v.redirect != 'undefined' ) return ; // No redirects
                    pages[v.title] = { backlinks:{} , search_results:{} } ;
                    me.number_of_results++ ;
                } ) ;
                me.pages = pages ;
                $.each ( me.pages , function ( title , dummy ) {
                    me.load_backlinks(title) ;
                    me.load_search(title) ;
                } ) ;
                me.end_subtask() ;
            } ) ;
        }
    } ,
    template:'#main-page-template'
} ) ;
</script>
